<div class="card" *ngIf="user$ | async as user">
  <img class="card-img-top" [src]="user.avatar_url" alt="{{user.name}} photo">
  <div class="card-body">
    <h5 class="card-title">
      {{user.name}}
    </h5>
    <p class="card-text">
      {{user.bio}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="" title="">
      <i class=""></i>
    </li>
    <li class="" title="">
      <i class=""></i>
    </li>
  </ul>
  <div class="">
    <a class="" href=""></a>
    <a class="" [href]=""></a>
  </div>
</div>
