<h2>fruits</h2>

<div>
  <ul class="fruits">
    <li *ngFor="let fruit of fruits">
      <button [class.selected]="fruit === selectedFruit" type="button" (click)="onSelect(fruit)">
        <span class="badge">
          {{fruit.id}}
        </span>
        <span class="name">
          {{fruit.name}}
        </span>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="selectedFruit">
  <h3>
    {{selectedFruit.name | uppercase}}
  </h3>
  <div>
    id: {{selectedFruit.id}}
  </div>
  <label for="name">fruit name field</label>
  <input id="name" [(ngModel)]="selectedFruit.name" placeholder="name">
</div>
