<div class="toolbar d-flex align-items-center">
  <img width="40" alt="angular logo" src="assets/angular.svg">
  <span>narrow application</span>
  <a class="ms-auto p-2" target="_blank" rel="noopener" href="#" title="">
    <i class="bi bi-house"></i>
  </a>
</div>

<div class="content d-flex flex-column">
  <div class="row">
    <div class="col-sm-3">
      <!-- todo -->
    </div>
    <div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
    </div>
  </div>
</div>
