<div *ngIf="fruit">
  <h2>
    {{fruit.name | uppercase}} details
  </h2>

  <div>
    <span>id: </span>
    {{fruit.id}}
  </div>

  <div class="fields">
    <span>
      <label for="name">name</label>
      <input id="name" [(ngModel)]="fruit.name" placeholder="fruit name">
    </span>
    <span>
      <label for="calories">calories</label>
      <input id="calories" [(ngModel)]="fruit.calories" placeholder="kcal">
    </span>
    <span>
      <label for="carbohydrate">carbohydrate</label>
      <input id="carbohydrate" [(ngModel)]="fruit.carbohydrate" placeholder="grams">
    </span>
    <span>
      <label for="fiber">fiber</label>
      <input id="fiber" [(ngModel)]="fruit.fiber" placeholder="grams">
    </span>
    <span>
      <label for="sugar">sugar</label>
      <input id="sugar" [(ngModel)]="fruit.sugar" placeholder="grams">
    </span>
    <span>
      <label for="fat">fat</label>
      <input id="fat" [(ngModel)]="fruit.fat" placeholder="grams">
    </span>
    <span>
      <label for="protein">protein</label>
      <input id="protein" [(ngModel)]="fruit.protein" placeholder="grams">
    </span>
    <span>
      <label for="vitaminA">vitamin A</label>
      <input id="vitaminA" [(ngModel)]="fruit.vitaminA" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB1">vitamin B1</label>
      <input id="vitaminB1" [(ngModel)]="fruit.vitaminB1" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB2">vitamin B2</label>
      <input id="vitaminB2" [(ngModel)]="fruit.vitaminB2" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB3">vitamin B3</label>
      <input id="vitaminB3" [(ngModel)]="fruit.vitaminB3" placeholder="RDA">
    </span>
  </div>

  <div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="update()">update</button>
  </div>

</div>
