<div *ngIf="fruit">
  <h2>
    {{fruit.name | uppercase}} details
  </h2>

  <div>
    <span>id: </span>
    {{fruit.id}}
  </div>

  <div class="fields">
    <span>
      <label for="name">name</label>
      <input id="name" [(ngModel)]="fruit.name" placeholder="fruit name">
    </span>
    <span>
      <label for="calories">calories</label>
      <input id="calories" [(ngModel)]="fruit.calories" placeholder="kcal">
    </span>
    <span>
      <label for="carbohydrate">carbohydrate</label>
      <input id="carbohydrate" [(ngModel)]="fruit.carbohydrate" placeholder="grams">
    </span>
    <span>
      <label for="fiber">fiber</label>
      <input id="fiber" [(ngModel)]="fruit.fiber" placeholder="grams">
    </span>
    <span>
      <label for="sugar">sugar</label>
      <input id="sugar" [(ngModel)]="fruit.sugar" placeholder="grams">
    </span>
    <span>
      <label for="fat">fat</label>
      <input id="fat" [(ngModel)]="fruit.fat" placeholder="grams">
    </span>
    <span>
      <label for="protein">protein</label>
      <input id="protein" [(ngModel)]="fruit.protein" placeholder="grams">
    </span>
    <span>
      <label for="vitaminA">vitamin A</label>
      <input id="vitaminA" [(ngModel)]="fruit.vitaminA" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB1">vitamin B1</label>
      <input id="vitaminB1" [(ngModel)]="fruit.vitaminB1" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB2">vitamin B2</label>
      <input id="vitaminB2" [(ngModel)]="fruit.vitaminB2" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB3">vitamin B3</label>
      <input id="vitaminB3" [(ngModel)]="fruit.vitaminB3" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB5">vitamin B5</label>
      <input id="vitaminB5" [(ngModel)]="fruit.vitaminB5" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB6">vitamin B6</label>
      <input id="vitaminB6" [(ngModel)]="fruit.vitaminB6" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB7">vitamin B7</label>
      <input id="vitaminB7" [(ngModel)]="fruit.vitaminB7" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB9">vitamin B9</label>
      <input id="vitaminB9" [(ngModel)]="fruit.vitaminB9" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminB12">vitamin B12</label>
      <input id="vitaminB12" [(ngModel)]="fruit.vitaminB12" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminC">vitamin C</label>
      <input id="vitaminC" [(ngModel)]="fruit.vitaminC" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminD">vitamin D</label>
      <input id="vitaminD" [(ngModel)]="fruit.vitaminD" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminE">vitamin E</label>
      <input id="vitaminE" [(ngModel)]="fruit.vitaminE" placeholder="RDA">
    </span>
    <span>
      <label for="vitaminK">vitamin K</label>
      <input id="vitaminK" [(ngModel)]="fruit.vitaminK" placeholder="RDA">
    </span>
    <span>
      <label for="calcium">calcium</label>
      <input id="calcium" [(ngModel)]="fruit.calcium" placeholder="RDA">
    </span>
    <span>
      <label for="copper">copper</label>
      <input id="copper" [(ngModel)]="fruit.copper" placeholder="RDA">
    </span>
    <span>
      <label for="iron">iron</label>
      <input id="iron" [(ngModel)]="fruit.iron" placeholder="RDA">
    </span>
    <span>
      <label for="magnesium">magnesium</label>
      <input id="magnesium" [(ngModel)]="fruit.magnesium" placeholder="RDA">
    </span>
  </div>

  <div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="update()">update</button>
  </div>

</div>
