<div *ngIf="fruit">
  <h2>
    {{fruit.name | uppercase}} details
  </h2>

  <div>
    <span>id: </span>
    {{fruit.id}}
  </div>

  <div class="fields">
    <span>
      <label for="name">name</label>
      <input id="name" [(ngModel)]="fruit.name" placeholder="fruit name">
    </span>
    <span>
      <label for="calories">calories</label>
      <input id="calories" [(ngModel)]="fruit.calories" placeholder="kcal">
    </span>
    <span>
      <label for="carbohydrate">carbohydrate</label>
      <input id="carbohydrate" [(ngModel)]="fruit.carbohydrate" placeholder="grams">
    </span>
  </div>

  <div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="update()">update</button>
  </div>

</div>
