label
  color: #456
  font-weight: bold

input
  font-size: 1em
  padding: 0.5em
  text-align: center

button
  margin-top: 20px
  padding: 1em
  background-color: #eee
  border-radius: 3px 2px
  font-size: 1em

button:hover
  background-color: #cde

button:disabled
  color: #ccc
  background-color: #eee
  cursor: auto

div.fields
  display: table
  width: 100%
  table-layout: fixed

div.fields span
  display: table
  float: left
  margin-left: 20px
  position: relative
  min-height: 30px
  max-width: 100px
  padding-bottom: 15px
  text-align: center
