h1
  margin-bottom: 0

nav a
  text-align: center
  padding: 0.2rem
  text-decoration: none
  margin-top: 10px
  display: block
  color: #333
  background-color: #eee
  border-radius: 5px

nav a:hover
  color: #fff
  background-color: #455

nav a:active
  background-color: #000
